# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

**.DS_Store
**.swp
bind_darwin_amd64.go
bind_linux_amd64.go
bind_windows_amd64.go
windows.sysco
output
